.rightbox {
    position: relative;
    font-size: smaller;
    width: 35%;
    float: right;
    margin: 8px 0px 8px 8px;
    padding: 0px 0px 0px 5px;
    border-left: 1px dashed $hdColor;
}

.leftbox {
    position: relative;
    font-size: smaller;
    width: 35%;
    float: left;
    margin: 8px 8px 8px 0px;
    padding: 0px 5px 0px 0px;
    border-right: 1px dashed $hdColor;
}

