---
---

$bgColor: #f0f0e8;
$fgColor: #080808;
$hdColor: #33480a;
$lnColor: #08527d;

@import "parameterized-hacker";
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Montserrat');
@import "common";

body {
    font-family: "Gentium Basic", serif;
    font-size: larger;
    line-height: 1.2;
}

header h1, h1,h2,h3,h4,h5,h6, .btn {
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    line-height: 1.2;
}

li {
  line-height: 1.15 ;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 1px 1px transparentize(#fff, 0.1),
    0 0 5px transparentize($hdColor, 0.1);
}
