---
---

$bgColor: #f0f0e8;
$fgColor: #080808;
$hdColor: #33480a;
$lnColor: #08527d;

@import "parameterized-hacker";
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Montserrat');
@import "common";

body {
    font-family: "Gentium Basic", sans-serif;
    font-size: larger;
}

header h1, h1,h2,h3,h4,h5,h6, .btn {
    font-family: "Montserrat", sans-serif;
}

