---
---

$bgColor: #151515;
$fgColor: #eaeaea;
$hdColor: #b5e853;
$lnColor: #63c0f5;

@import "parameterized-hacker";

body, header h1, h1,h2,h3,h4,h5,h6, .btn {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    letter-spacing: -0.03em;
/*    text-transform: uppercase;*/
													  

}

@import "common";
