---
---

@import "{{ site.theme }}";

.container {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}

@font-face {
    font-family: "ZX Spectrum-7 Mono";
//    src: url("/fonts/zx_spectrum-7.eot");
    src:
//      url("/fonts/zx_spectrum-7.eot?#iefix") format("embedded-opentype"),
//      url("/fonts/zx_spectrum-7.woff") format("woff"),
      url("/fonts/ZXSpectrum-7.otf") format("opentype"),
    //      url("/fonts/zx_spectrum-7.svg#ZXSpectrum-7") format("svg");
    ;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "ZX Spectrum-7 Sans";
//    src: url("/fonts/zx_spectrum-7.eot");
    src:
//      url("/fonts/zx_spectrum-7.eot?#iefix") format("embedded-opentype"),
//      url("/fonts/zx_spectrum-7.woff") format("woff"),
      url("/fonts/ZXSpectrum-7-Sans.otf") format("opentype"),
    //      url("/fonts/zx_spectrum-7.svg#ZXSpectrum-7") format("svg");
    ;
    font-weight: normal;
    font-style: normal;
}


body, header h1, h1,h2,h3,h4,h5,h6, .btn {
    font-family: "ZX Spectrum-7 Mono", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    text-transform: uppercase;
													  

}
