---
---

$bgColor: #151515;
$fgColor: #eaeaea;
$hdColor: #b5e853;
$lnColor: #63c0f5;

@import "parameterized-hacker";

body, header h1, h1,h2,h3,h4,h5,h6, .btn {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
/*    text-transform: uppercase;*/
													  

}

.sidebox {
    position: relative;
    margin: 5px;
    padding: 0px;
    font-size: smaller;
    width: 35%;
}


.rightbox {
    float: right;
    margin-right: 0px;
    padding-left: 5px;
    border-left: 1px dashed $hdColor;
}

.leftbox {
    float: left;
    margin-left: 0px;
    padding-right: 5px;
    border-right: 1px dashed $hdColor;
}
