---
---

$bgColor: #f0f0e8;
$fgColor: #222020;
$hdColor: #222020;
$lnColor: #222040;

@import "parameterized-hacker";

@font-face {
    font-family: "ZX Spectrum-7 Mono";
//    src: url("/fonts/zx_spectrum-7.eot");
    src:
//      url("/fonts/zx_spectrum-7.eot?#iefix") format("embedded-opentype"),
//      url("/fonts/zx_spectrum-7.woff") format("woff"),
      url("/fonts/ZXSpectrum-7.otf") format("opentype"),
    //      url("/fonts/zx_spectrum-7.svg#ZXSpectrum-7") format("svg");
    ;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "ZX Spectrum-7 Sans";
//    src: url("/fonts/zx_spectrum-7.eot");
    src:
//      url("/fonts/zx_spectrum-7.eot?#iefix") format("embedded-opentype"),
//      url("/fonts/zx_spectrum-7.woff") format("woff"),
      url("/fonts/ZXSpectrum-7-Sans.otf") format("opentype"),
    //      url("/fonts/zx_spectrum-7.svg#ZXSpectrum-7") format("svg");
    ;
    font-weight: normal;
    font-style: normal;
}

// from http://aleclownes.com/2017/02/01/crt-display.html
body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-attachment: fixed;
  //background-repeat: repeat-y;
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

// from http://aleclownes.com/2017/02/01/crt-display.html
@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}
/*
.flicker::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.03);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 1.15s infinite;
}
*/

// from http://aleclownes.com/2017/02/01/crt-display.html
$colorSepSize: 0px;
$colorSep1: rgba(0,0,255,0.2);
$colorSep2: rgba(255,0,0,0.1);
$colorSepFactor: 0.5;
//$colorSep1: rgba(0,30,255,0.5);
//$colorSep2: rgba(255,0,80,0.3);
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px*$colorSepFactor 0 1px $colorSep1, -0.4389924193300864px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  5% {
    text-shadow: 2.7928974010788217px*$colorSepFactor 0 1px $colorSep1, -2.7928974010788217px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  10% {
    text-shadow: 0.02956275843481219px*$colorSepFactor 0 1px $colorSep1, -0.02956275843481219px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  15% {
    text-shadow: 0.40218538552878136px*$colorSepFactor 0 1px $colorSep1, -0.40218538552878136px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  20% {
    text-shadow: 3.4794037899852017px*$colorSepFactor 0 1px $colorSep1, -3.4794037899852017px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  25% {
    text-shadow: 1.6125630401149584px*$colorSepFactor 0 1px $colorSep1, -1.6125630401149584px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  30% {
    text-shadow: 0.7015590085143956px*$colorSepFactor 0 1px $colorSep1, -0.7015590085143956px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  35% {
    text-shadow: 3.896914047650351px*$colorSepFactor 0 1px $colorSep1, -3.896914047650351px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  40% {
    text-shadow: 3.870905614848819px*$colorSepFactor 0 1px $colorSep1, -3.870905614848819px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  45% {
    text-shadow: 2.231056963361899px*$colorSepFactor 0 1px $colorSep1, -2.231056963361899px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  50% {
    text-shadow: 0.08084290417898504px*$colorSepFactor 0 1px $colorSep1, -0.08084290417898504px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  55% {
    text-shadow: 2.375846106742754$colorSepSize 0 1px $colorSep1, -2.3758461067427543px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  60% {
    text-shadow: 2.202193051050636px*$colorSepFactor 0 1px $colorSep1, -2.202193051050636px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  65% {
    text-shadow: 2.8638780614874975px*$colorSepFactor 0 1px $colorSep1, -2.8638780614874975px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  70% {
    text-shadow: 0.48874025155497314px*$colorSepFactor 0 1px $colorSep1, -0.48874025155497314px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  75% {
    text-shadow: 1.8948491305757957px*$colorSepFactor 0 1px $colorSep1, -1.8948491305757957px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  80% {
    text-shadow: 0.0833037308038857px*$colorSepFactor 0 1px $colorSep1, -0.0833037308038857px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  85% {
    text-shadow: 0.09769827255241735px*$colorSepFactor 0 1px $colorSep1, -0.09769827255241735px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  90% {
    text-shadow: 3.443339761481782px*$colorSepFactor 0 1px $colorSep1, -3.443339761481782px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  95% {
    text-shadow: 2.1841838852799786px*$colorSepFactor 0 1px $colorSep1, -2.1841838852799786px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
  100% {
    text-shadow: 2.6208764473832513px*$colorSepFactor 0 1px $colorSep1, -2.6208764473832513px*$colorSepFactor 0 1px $colorSep2, 0 0 $colorSepSize ;
  }
}
//body {
//    animation: textShadow 3.6s infinite;
//}



body, header h1, h1,h2,h3,h4,h5,h6, .btn {
    font-family: "ZX Spectrum-7 Mono", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    text-transform: uppercase;
													  

}
