---
layout: default
---
{{ page.category }}

{% for post in site.categories[page.category] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
    -3
        {% for post in site.categories['/edu/norway'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
    -2
        {% for post in site.categories['edu/norway'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
    -1 
        {% for post in site.categories['edu norway'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
    0
        {% for post in site.categories['edunorway'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
a
    {% for post in site.categories['edu'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
b
    {% for post in site.categories['norway'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
    {% endfor %}
    c
    {% for post in site.categories['edu', 'norway'] %}
    <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
    </a>
{% endfor %}
